body {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}



header a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.hero-content h1 {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 1.8vw;
    FONT-STYLE: ITALIC;
    letter-spacing: 5px;
    margin-left: 6%;
    margin-top: 25%;
    font-weight: 700;
    z-index: 999999;
}

.hero {
  background-color: #094803;
}

#heroimg {
  max-width: 100%;
  height: auto;
}

#heroimg {
  position: relative;
  padding: 0;
  margin: 0;
}

#premiseimg {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 20%;
  max-width: 50%;
  left: 4%;
  transform: translateX(2%);
  animation: slideIn 0.6s ease;
}

@keyframes slideIn {
  0% {
    transform: translateX(-60%);
  }

  100% {
    transform: translateX(2%);
  }
}

.hero-content button {
  margin-left: 17%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 3px;
    font-size: 1.3vw;
    padding: 10px 75px;
    border-radius: 25px;
    color: white;
    font-weight: 300;
    z-index: 999999;
    margin-top: 32%;
    background-color: rgba(134, 211, 126, 0.7);
}


.article-content {
  width: 50%;
  margin: auto 30px;
}

#section-one {
  background-color: #094803;
}

#section-two {
  background-color: #0F6E06;
}

#section-three {
  background-color: #338E2A;
}

#section-four {
  background-color: #65AA5E;
}

#section-five {
  background-color: #A2DD9C;
  max-width: 100%;
}



.section {
  max-width: 100%;
  height: 700px;
}

.article-content p {
  line-height: 40px;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 2px;
  text-align: justify;
}

.article-content h1 {
  margin: 0;
  padding-bottom: 30px;
  letter-spacing: 2px;
  font-size: 35px;
  font-weight: 700;
}

#img-one {
  width: 250px;
  transition:all 0.4s;
}

#img-two {
  width: 500px;
  transition:all 0.4s;
}

#img-three {
  width: 500px;
  transition:all 0.4s;
}

#img-four {
  width: 500px;
  transition:all 0.4s;
}

#img-five {
  max-width: 20%;
  display: flex;
  margin: auto;

}

#footer-headline {
  font-size: 50px;
  letter-spacing: 2px;
  margin: 0;
  transform: translateY(3%);
  padding-top: 150px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
}


.side-img img {
  display: flex;
  margin: auto;
}

.side-img {
  width: 50%;
  margin: auto;
}

#c-to-a {
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  padding-bottom: 30px;
  color: white;
}

.inner-content {
  display: flex;
  width: 80%;
  margin: auto;
  height: 100%;
  color: white;
}

.socials {
width: 18%;
margin: auto;
display: flex;
flex-direction: column;
padding-bottom: 100px;
}

#instagram, #facebook {
  width: 46px;
  align-self: center;
}

.instagram, .facebook {
  flex-direction: row;
  display: flex;
  padding: 20px 0;
}

.instagram a, .facebook a {
  display: flex;
  align-self: center;
  margin: 0 30px;
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 200;
}

a:hover {
  opacity: 0.6;
}

.animation {
animation: slideUp 1s;
}

@keyframes slideUp {
  0% {
    transform: translateY(70%);
    opacity: 0;
  }

  100% {
    transform: translateY(3%);
    opacity: 1;
  }
}

.animationtwo {
 -webkit-animation-name: bounceIn;
 animation-name: bounceIn;
 -webkit-animation-duration: .75s;
 animation-duration: .75s;
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  20% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
  -webkit-transform: scale3d(.9, .9, .9);
  transform: scale3d(.9, .9, .9);
  }
  60% {
  -webkit-transform: scale3d(1.03, 1.03, 1.03);
  transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
  -webkit-transform: scale3d(.97, .97, .97);
  transform: scale3d(.97, .97, .97);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  20% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
  -webkit-transform: scale3d(.9, .9, .9);
  transform: scale3d(.9, .9, .9);
  }
  60% {
  -webkit-transform: scale3d(1.03, 1.03, 1.03);
  transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
  -webkit-transform: scale3d(.97, .97, .97);
  transform: scale3d(.97, .97, .97);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }


.back-to-top button {
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 3px;
    font-size: 1.3vw;
    padding: 10px 75px;
    border-radius: 25px;
    color: white;
    font-weight: 300;
    z-index: 999999;
    background: transparent;
    border: none;
}

.back-to-top {
  width: 23%;
  margin: auto;
}
