body {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

.hero-content h1 {
    position: absolute;
    top: 6%;
    left: 22%;
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
}

.hero {
  background-color: #094803;
}

#heroimg {
  max-width: 100%;
  height: auto;
}

#heroimg {
  position: relative;
  padding: 0;
  margin: 0;
}

#premiseimg {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 20%;
  max-width: 50%;
  left: 5%;
}

button {
  position: absolute;
  top: 55%;
  left: 23%;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 3px;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 25px;
  background: transparent;
  color: white;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.5);
}

button:hover {
  background: linear-gradient(to bottom, #ffffff, transparent);
}

.article-content {
  width: 50%;
  margin: auto 30px;
}

#section-one {
  background-color: #094803;
}

#section-two {
  background-color: #0F6E06;
}

#section-three {
  background-color: #338E2A;
}

#section-four {
  background-color: #65AA5E;
}

#section-five {
  background-color: #A2DD9C;
  max-width: 100%;
}



.section {
  max-width: 100%;
  height: 700px;
}

.article-content p {
  line-height: 40px;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 2px;
  text-align: justify;
}

.article-content h1 {
  margin: 0;
  padding-bottom: 30px;
  letter-spacing: 2px;
  font-size: 35px;
  font-weight: 700;
}

#img-one {
  width: 250px;
}

#img-two {
  width: 500px;
}

#img-three {
  width: 500px;
}

#img-four {
  width: 500px;
}

#img-five {
  max-width: 30%;
  display: flex;
  margin: auto;
}

#footer-headline {
  font-size: 50px;
  letter-spacing: 2px;
  margin: 0;
  padding-top: 150px;
  padding-bottom: 30px;
  text-align: center;
  color: white;
}

.side-img img {
  display: flex;
  margin: auto;
}

.side-img {
  width: 50%;
  margin: auto;
}

#c-to-a {
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  padding-bottom: 30px;
  color: white;
}

.inner-content {
  display: flex;
  width: 80%;
  margin: auto;
  height: 100%;
  color: white;
}

.socials {
width: 18%;
margin: auto;
display: flex;
flex-direction: column;
padding-bottom: 100px;
}

#instagram, #facebook {
  width: 46px;
  align-self: center;
}

.instagram, .facebook {
  flex-direction: row;
  display: flex;
  padding: 20px 0;
}

.instagram a, .facebook a {
  display: flex;
  align-self: center;
  margin: 0 30px;
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 200;
}
